.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar{
  display: flex;
  height: 50px;
  padding: 10px;
  text-align: center;
  align-items: center;
  gap: 30px;
}

#navbar a{
text-decoration: none;
color: black;
}

.nav_logo img{
  height: 40px;
}

#nav_details{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
  gap: 40px;
  font-weight: bold;
  font-size: 14px;
}

#container{
  height: 600px;
  text-align: center;
  padding: 30px;
}

.heading{
  width: 100%;
  padding-top: 20px;
  border: 1px solid black;
  font-family: 'IBM Plex Serif',sans-serif;
  /* color: #fff; */
  font-size: 68px;
  line-height: 120%;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
}

#container p{
  width: 100%;
  padding-top: 20px;
  border: 0 solid #fff;
  font-family: 'IBM Plex Serif',sans-serif;
  /* color: #fff; */
  font-size: 25px;
  line-height: 120%;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 1px;
}

.search_input input{
  width: 400px;
  height: 20px;
  background-color: rgb(229, 226, 226);
  border: none;
  padding: 10px;
}

.right_nav{
  display: flex;
  gap: 20px;
}

.right_nav img{
  height: 30px;
}

.nav_bottom p{
  display: flex;
  text-align: left;
  align-items: flex-start;
  padding: 20px 0;
}

.nav_button{
  display: flex;
  gap: 20px;
  padding:20px 0px;
  align-items: center;
}
.nav_button button{
height: 65px;
border-radius: 3px;
border-color: rgb(197, 197, 197);
}

.nav_button button:hover {
  border-color: orange;
}